.Rcheck
.Rproj.user
.Rhistory
.RData
.Rbuildignore
*.Rproj
vignettes/*log
vignettes/*gz
vignettes/*aux
vignettes/*tex
vignettes/*sty
vignettes/*aux
vignettes/*toc
vignettes/figure/*
vignettes/cache/*
.o
.so
src/*o
